@mixin opacity($level) {
   opacity: $level;
   filter: alpha(opacity=($level * 100));
}

@mixin border-radius($radius) {
   border-radius: $radius;
   -moz-border-radius: $radius;
   -webkit-border-radius: $radius;
}

@mixin box-shadow($shadow) {
   -webkit-box-shadow: $shadow;
   -moz-box-shadow: $shadow;
   box-shadow: $shadow;
}

$red : #d92c27;
$blue : #256E9E;
$gray : #777777;
$lightGray : #f8f8f8;

* {
   font-family: 'Lato', sans-serif;
}

html,
body {
   height: 100%;
}

body {

}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
   @include box-shadow(0 0 8px $red);
   border-color: $red;
   outline: 0 none;
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.loading {
   margin: 10px auto;
   position: relative;
   left: 50%;
   margin-left: -12px;
   width: 24px;
}

#header {
   display: none;
   height: 150px;
   width: 100%;
   .navbar {
      background: none;
      border: none;
      h1 {
         clear: both;
         font-weight: 100;
         letter-spacing: 2px;
         position: relative;
         left: 5px;
         font-size: 38px;
      }
      .navbar-header {
         padding-left: 0;
         .navbar-brand {
            margin: 10px 0;
            padding: 0;
         }
      }
   }
}

#tab-nav {
   .loading {
      top: 100px;
   }
   .nav-tabs {
      border: none;
   }
   .nav-tabs>li {
      background: white;
      background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #f5f5f5 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#f5f5f5));
      background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#f5f5f5 100%);
      background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#f5f5f5 100%);
      background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#f5f5f5 100%);
      background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#f5f5f5 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 );
      //@include border-radius: 6px 6px 0 0;
//      border-bottom: none;
      margin-right: 5px;
      &>a {
         color: #6c6c6c;
         border: 1px solid #ddd;
         border-bottom-color: transparent;
         padding: 8px 20px;
      }
      &.active {
         background: white;
         a {
            color: black;
         }
      }
   }
   form {
      padding: 0;
      .form-group {
         position: relative;
         width: 100%;
         i {
            color: $gray;
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 16px;
         }
         input[type=search] {
            font-family: 'Georgia', 'Times New Roman', 'serif';
            font-style: italic;
            font-size: 14px;
            font-weight: 400;
            padding-left: 30px;
            height: 37px;
            &:not(:focus) {
               @include box-shadow(none);
            }
         }
      }
   }
}

#list {
   display: none;
   padding-bottom: 50px;
   width: 100%;
   div.container {
      margin-top: 10px;
   }
   ul {
      li {
         &.centres {
            height: 45px;
            margin-top: 1px;
            cursor: pointer;
            a {
               background: black;
               color: white;
               cursor: pointer;
               display: block;
               font-family: 'Lato', sans-serif;
               font-size: 22px;
               font-weight: 100;
               margin: 0;
               padding: 0;
               height: 100%;
               padding-top: 7px;
               padding-left: 15px;
               text-decoration: none;
               text-transform: uppercase;
               width: 100%;
               i {
                  cursor: pointer;
                  font-size: 16px;
                  margin: 0 10px 0 0;
                  position: relative;
                  top: -2px;
               }
               &:hover {
                  background: $red;
               }
            }
            &.active {
               a {
                  background: $red;
               }
            }
         }
         &.deals {
            display: none;
            ul {
               li {
                  min-height: 80px;
                  position: relative;
                  padding-left: 140px;
                  div.img-wrap {
                     background: white;
                     width: 120px;
                     position: absolute;
                     height: 100%;
                     left: 0;
                     img {
                        max-width: 100%;
                        max-height: 100%;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                     }
                  }
                  h3 {
                     font-family: 'Arial', 'Helevetica', 'sans-serif';
                     font-size: 22px;
                     font-weight: 400;
                     line-height: 32px;
                     margin: 0;
                     padding-top: 15px;
                     width: 80%;
                  }
                  p {
                     color: $gray;
                     font-family: 'Arial', 'Helevetica', 'sans-serif';
                     font-size: 13px;
                     font-weight: 400;
                     margin: 0;
                     margin-top: 5px;
                     padding-bottom: 10px;
                  }
                  a {
                     color: $blue;
                     font-family: 'Arial', 'Helevetica', 'sans-serif';
                     font-size: 13px;
                     font-weight: 400;
                     position: absolute;
                     right: 15px;
                     top: 20px;
                     i {
                        position: relative;
                        font-size: 15px;
                        text-decoration: none;
                        top: 2px;
                     }
                  }
                  &:nth-child(odd) {
                     background: $lightGray;
                  }
                  &:nth-child(even) {
                     background: white;
                  }
               }
            }
         }
         &.no-deals {
            background: $lightGray;
            height: 80px;
            margin: 1px 0;
            text-align: center;
            h3 {
               color: #999999;
               font-family: 'Arial', 'Helevetica', 'sans-serif';
               font-size: 22px;
               font-weight: 400;
               margin: 0;
               padding-top: 20px;
               text-transform: uppercase;
            }
            p {
               color: #B4B4B4;
               font-family: 'Arial', 'Helevetica', 'sans-serif';
               font-size: 14px;
               font-weight: 400;
               margin: 0;
               margin-top: 5px;
               padding-bottom: 10px;
            }
         }
      }
   }
}

// Only Extra Small
@media (max-width: 768px) {
   #header {
      height: 125px;
      .navbar-header {
         padding-left: 15px !important;
      }
   }
   #tab-nav {
      .loading {
         top: 10px;
      }
      ul {
         margin: 0;
         padding: 0 15px;
         li {
            width: 100%;
            a {
               @include border-radius(0);
//               border-left: none !important;
//               border-right: none !important;
               margin: 0;
            }
            &:first-child a {
               @include border-radius(4px 4px 0 0);
            }
            &:last-child a {
               @include border-radius(0 0 4px 4px);
               border-bottom: 1px solid #ddd;
            }
         }
      }
      form {
         padding: 15px;
         margin: 0;
         .form-group {
            margin: 0;
         }
         input[type=search] {

         }
      }
   }
   #list {
      .container {
         margin: 0 !important;
         padding: 0 15px;
      }
      li.centres {
         a {
            font-size: 16px !important;
            padding-top: 12px !important;
            i {
               top: 0 !important;
            }
         }
      }
      li.deals {
         ul {
            li {
               padding-left: 70px !important;
               .img-wrap {
                  width: 60px !important;
               }
               h3 {
                  font-size: 16px !important;
                  line-height: 20px !important;
                  padding-top: 10px !important;
               }
               p {
                  padding: 0 !important;
               }
               a {
                  position: relative !important;
                  top: 0 !important;
                  left: 0 !important;
                  padding: 10px 0;
                  line-height: 30px;
               }
            }
         }
      }
      li.no-deals {
         h3 {
            font-size: 16px !important;
         }
      }
   }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
   .container { max-width: 960px };
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

// Browser Fixes
[data-browser="Chrome"] {
   &[data-platform="Windows"],
   &[data-platform="Android"] {
      #header {
         h1 {
            font-family: 'Lato', sans-serif;
            letter-spacing: 0 !important;
            font-weight: 300 !important;
         }
      }
      #list {
         li.centres {
            a {
               font-weight: 300 !important;
            }
         }
      }
   }
}
[data-browser="Safari"] {
   &[data-platform="Windows"] {
      #header {
         h1 {
            font-family: 'Lato', sans-serif;
            letter-spacing: 0 !important;
         }
      }
   }
   &[data-platform="Windows"],
   &[data-platform="iPhone"] {
      #header {
         h1 {
            font-weight: 300 !important;
         }
      }
      #list {
         li.centres {
            a {
               font-weight: 300 !important;
            }
         }
      }
   }
}
[data-browser="Firefox"] {
   &[data-platform="Windows"] {
      #header {
         h1 {
            font-family: 'Lato', sans-serif;
            letter-spacing: 0 !important;
            font-weight: 300 !important;
         }
      }
      #list {
         li.centres {
            a {
               font-weight: 300 !important;
            }
         }
      }
   }
}
[data-browser="MSIE"] {
   &[data-version="9.0"],
   &[data-version="10.0"] {
      #header {
         h1 {
            font-family: 'Lato', sans-serif;
            letter-spacing: 0 !important;
            font-weight: 300 !important;
         }
      }
      #list {
         li.centres {
            a {
               font-weight: 300 !important;
            }
         }
      }
   }
}