@mixin opacity($level) {
   opacity: $level;
   filter: alpha(opacity=($level * 100));
}

@mixin border-radius($radius) {
   border-radius: $radius;
   -moz-border-radius: $radius;
   -webkit-border-radius: $radius;
}

@mixin box-shadow($shadow) {
   -webkit-box-shadow: $shadow;
   -moz-box-shadow: $shadow;
   box-shadow: $shadow;
}

$gray : #66767d;
$blue : #95bedc;
$orange : #f07746;

* {
   font-family: 'Times New Roman', 'Times', 'serif';
}

html,
body {
   height: 100%;
}

body {
   background: #eee;
}

div.navbar {
   background: #95bedc; /* Old browsers */
   background: -moz-linear-gradient(top,  #95bedc 0%, #66767d 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#95bedc), color-stop(100%,#66767d)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #95bedc 0%,#66767d 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #95bedc 0%,#66767d 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #95bedc 0%,#66767d 100%); /* IE10+ */
   background: linear-gradient(to bottom,  #95bedc 0%,#66767d 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95bedc', endColorstr='#66767d',GradientType=0 ); /* IE6-9 */
   height: 50px;
   a {
      color: white !important;
      &.navbar-brand {
         font-size: 22px;
      }
   }
   div.nav-container {
      padding: 0 20px;
   }
   div.dropdown {
      position: absolute;
      right: 20px;
      top: 13px;
      p {
         color: white;
         font-size: 14px;
         margin-right: 10px;
      }
      div.display {
         @include border-radius(3px);
         cursor: pointer;
         background: #eee;
         border: 1px solid #999;
         height: 20px;
         padding: 0 6px;
         width: 185px;
         * {
            cursor: pointer;
         }
         span {
            font-family: 'Helevetica', 'Arial', 'sans-serif';
         }
         i {
            position: absolute;
            right: 6px;
            top: 3px;
         }
      }
      div.list {
         display: none;
         background: white;
         @include box-shadow(0 0 5px 0 $gray);
         position: absolute;
         right: 0;
         top: 20px;
         width: 185px;
         a {
            color: black !important;
            cursor: default;
            display: block;
            font-family: 'Helevetica', 'Arial', 'sans-serif';
            padding: 0 6px;
            text-decoration: none;
            &:hover {
               background: $orange;
            }
         }
      }
   }
}

div.container {
   min-height: 100%;
   height: auto;
   margin: 0 auto -60px;
   padding: 0 0 60px;
   position: relative;
   max-width: 808px;
   div.content {
      padding: 60px 20px;
      h1 {
         font-style: italic;
         font-size: 24px;
         font-family: 'Times New Roman', 'Times', 'serif';
         margin: 10px 0 0;
      }
      h2 {
         font-family: 'Times New Roman', 'Times', 'serif';
         font-size: 24px;
         font-weight: bold;
         padding: 20px 0 15px;
      }
      p {
         font-size: 16px;
         padding-bottom: 10px;
      }
      pre {
         @include border-radius(0);
         border: 2px dashed $gray;
         white-space: pre-line;
         padding: 20px;
      }
   }
}

div.footer {
   background: #66767d; /* Old browsers */
   background: -moz-linear-gradient(top,  #66767d 0%, #95bedc 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#66767d), color-stop(100%,#95bedc)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #66767d 0%,#95bedc 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #66767d 0%,#95bedc 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #66767d 0%,#95bedc 100%); /* IE10+ */
   background: linear-gradient(to bottom,  #66767d 0%,#95bedc 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66767d', endColorstr='#95bedc',GradientType=0 ); /* IE6-9 */
   height: 50px;
   position: fixed;
   bottom: 0;
   width: 100%;
   p {
      color: #483635;
      font-style: italic;
      font-size: 14px;
      text-align: center;
      position: relative;
      top: 16px;
   }
}
